<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="style.css" media="screen">
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Tourist Page</a>
            <a class="nav-item nav-link" href="#">Vintner Model</a>
           
          </div>
        </div>
      </nav> 

      <div class="container">
        <div class="header">
          <h1 class="row justify-content-center">Wine Analytics</h1>
          <hr class="header-hr"/>
        </div>

        <div class='row'>
          <div class="column" > 
            <script type='text/javascript' src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'>
            </script>
              <div class='tableauPlaceholder' style='width: 1000px; height: 850px;'>
                <object class='tableauViz' width='1000' height='850' style='display:none;'>
                  <param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' /> 
                  <param name='embed_code_version' value='3' /> 
                  <param name='site_root' value='&#47;t&#47;thewineinatorproject' />
                  <param name='name' value='VintnerWorkbook&#47;DB-RW-SignificantFeatures_1' />
                  <param name='tabs' value='yes' /><param name='toolbar' value='yes' />
                  <param name='showAppBanner' value='false' />
                </object>
              </div>
          </div> 
        </div>
      </div>
      <script src="" async defer></script>
    </body>
</html>