<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flavor Profiles</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" media="screen">
</head>

<body>
    <div class="body">

        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-custom">
            <a class="navbar-brand" href="#">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSzXwyREtRjZbusEzF3W6UT-9mjBBNyohz8N8thuHBS-KrXMBTw&usqp=CAU"
                    width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tourist
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="tourist_geo.html">Missouri Winery Location</a>
                            <a class="dropdown-item" href="wine-profiles.html">Flavor Profiles</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vintner Model
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="vintner_wine_analytics.html">Vintner Overview</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="vintner_redwine_monkey_predictor.html">Red Wine Monkey
                                Business</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Page Content Container -->
    <div class="container">

        <!-- Header -->
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                    <h1 class="row justify-content-center">Explore Wine Flavor Profiles</h1>
                    <h4 class="row justify-content-center">White Wine</h4>
                    <hr class="header-hr" />
                </div>
            </div>
        </div>

        <!-- Wine Selection Button -->
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Flavor Profiles
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="wine-profiles-red.html">Red Wine</a>
                    <a class="dropdown-item" href="wine-profiles-white.html">White Wine</a>
                </div>
            </div>
        </div>


        <section class="row">

            <!-- Left Column -->
            <div class="col-md-3">
                <article class="paragraph-content">
                    <div class="row justify-content-end">
                        <div class="paragraph-text">
                            <p>ADD FACTS ABOUT WHITE WINES HERE
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-6">

                <!-- Tableau -->
                <div class="img-content">
                    <script type='text/javascript'
                        src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'></script>
                    <div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz'
                            width='1000' height='827' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='&#47;t&#47;thewineinatorproject' />
                            <param name='name' value='WhiteWineCharacteristics&#47;WhiteWineDashboard' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='yes' />
                            <param name='showAppBanner' value='false' /></object></div>
                </div>
            </div>
        </section>

    </div>


    <!-- BOOTSTRAP SCRIPTS -->
    <script src="" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>